#wrapper {
    min-height:100%;
}

#logo {
    margin: 10px auto 5px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
}

nav {
    font-size: 1em;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 5px;
    display: none;
}

nav li {
    display: inline-block;
    padding: 0 12px;
}

#container {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;/*等于footer的高度*/
}

main section {
    margin: 0 auto;
}

#setting {
    text-align: center;
    font-size: .875em;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 5px;
}

#modify,#modify-panel,#result,#info {display: none;}

footer {
    width: 100%;
    text-align: center;
    height: 60px;/*脚部的高度*/
    clear: both;
    margin-top: -60px; /*等于footer的高度*/
}

#toriFudaWrapArea {
    display: inline-block;
    overflow: auto;
}

/************ MEDIA QUERIES ************/

@media (min-width: 420px) {
	
	#setting {
    	font-size: 1em;
	}

    #yomiArea {
        font-size: 1.25em;
        margin: 20px auto;
    }
}

@media (min-width: 640px) {
	
	#setting {
    	font-size: 1.25em;
	}

    /************ FUDA ************/
    #yomiArea {
        font-size: 1.5em;
    }

    #toriArea {
        margin: 20px auto;
    }
}

@media (min-width: 768px) {
	/* TODO: 统计部分展开设计 */
}