html,body,div,p,span,main,section,article,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-size: 16px;
	font-family: Helvetica, Arial,sans-serif; 
}

main {
/* 	border: 2px #000 solid; */
	min-width: 768px;
	min-height: 768px;
	position: relative;
}

section {
    position: absolute;
    width: 900px;
}

#top, #bottom {
	left: 0;
	height: 370px;
/* 	border: 1px solid yellow; */
	padding: 0 5px;
}

#top {
	top: 0;
}

#bottom {
	top: 400px;
}

#notice-area {
    top: 370px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.fuda {
	border: 3px solid #3A5745;
	height: 112px;
	width: 78px;
	float: left;
/* 	margin: 2px 6px; */
	padding: 3px;
}

.fuda span {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	float: right;
	width:10px;
	margin-top: 3px;
}

.fuda-right {
	/*background: #ff0000;*/
	margin-right: 13px;
}

.fuda-middle {
	/*background: green;*/
	margin: 0 8px;
}

.fuda-left {
	/*background: blue;*/
}

.fuda-area {float:left; width:82px; height:116px; margin:3px;padding:1px;border:1px solid #aaaaaa;}

#top .fuda-area {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

aside {
    float: right;
}

footer {
	clear: both;
}

footer p{
	margin: 0 auto;
	max-width: 900px;
}

/* Special Fuda layout */
#fuda-21 .fuda-left {
    line-height: 15px;
    margin-top: 6px;
}