@import "./fuda.scss";

//html {
//  body {
//    background: url(../images/repeater.jpg) center no-repeat #fafafa;
//  }
//}

html,body,
div,p,span,
header,main,aside,section,article,footer
a,h1,h2,h3,h4,
ul,li,nav,
form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial,sans-serif;
  background: #fdfdfd;
}

noscript {
  display: block;
  width: 300px;
  margin: 0 auto;
}

main {
  width: 85%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

#yomi-area {
  height: 100px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  border: 3px solid #dadada;

  @media (min-width: 420px) {
    font-size: 1.375em;
    left: 3px;
  }
  @media (min-width: 640px) {
    font-size: 1.6em;
  }
  @media (min-width: 720px) {
    font-size: 1.725em;
  }
}

#tori-area {
  position: absolute;
  top: 120px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  border: 3px solid #dadada;
  overflow: auto;
  text-align: center;
  font-size: 1em;
}
